
/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Nanum+Gothic:wght@400;700;800&display=swap');

/* root */
:root {
  --blanco: #FFF;
  --oscuro: #212121;
  --contraste: #b76115; 
  --contrasteB: #F4F1BB;
  --main: rgb(65, 131, 139);
  --secundario: #5D576B;
  --base: #e4e8e0;
  --gris: #757575; 
  --mons: 'Montserrat', sans-serif;
  --nanum: 'Nanum Gothic', sans-serif;
}
* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%; 
  box-sizing: border-box;
}
body {
  font-size: 16px; 
  font-family: var(--mons);
}
header{
  text-align: center;
  padding: 3rem;
  background-color: var(--main);
  margin-bottom: 2rem;
  color: var(--base);
}
button {
  cursor: pointer;
}
h1{
  font-weight: 500;
  margin-bottom: 1rem;
  font-size: 3.5rem;
}

#descripcion {
  font-style: italic;
  font-size: 1.4rem;
}
.saldoDelUsuario {
  text-align: center;
}
h2 {
  text-align: center;
  margin: 1rem;
  font-weight: 400;
  color: var(--secundario);
  font-size: 2.8rem;
  text-transform: uppercase;
}
.tuSaldo {
  font-size: 2rem;
  margin-top: 2rem;
}
.mensaje {
  margin: .7rem 0 1.5rem 0;
  font-size: 1.4rem;
  font-style: italic;
  text-decoration: underline;
  color: var(--gris);
}

/* Sección para hacer depósitos y actualizar saldo */
#contenedorActualizar {
  border: solid;
  padding: 1.5rem;
  text-align: center;
  width: 40%;
  margin: 0 auto;
  background-color: var(--secundario);
  border-radius: 20px;
  color: var(--base);

}
#contenedorActualizar p {
  font-family: var(--nanum);
  margin-bottom: 2rem;
  font-weight: bold;
}
#actualizarSaldo {
  height: 2rem;
  width: 7rem;
}
#botonActualizarSaldo {
  padding: .7rem;
  background-color: var(--base);
  border-radius: 5px;
  color: var(--secundario);
  border: var(--oscuro);
  font-family: var(--nanum);
  margin: 1rem auto;
  transition: .3s;
  
}
#botonActualizarSaldo:hover {
  background-color: var(--contrasteB);
  font-size: 1.4rem;
}
.linea {
  margin: 0 2.5rem;
  border: solid var(--secundario) 1px;
}

/* Conversión de moneda */
#contenedorDivisas {
  border: solid 4px var(--secundario);
  border-radius: 3px;
  padding: 1rem;
  margin: 2rem auto;
  max-width: 50rem;
}
#divisas {
  font-weight: 500;
  color: var(--secundario);
  font-style: var(--nanum);
  font-size: 1.5rem;
  margin-bottom: 1rem;
  text-align: center;
}
.divisasLabel{
  font-size: 1.2rem;
  font-weight: 600;
  margin: 0 auto;
}
#contenedorDivisas hr {
  margin-bottom: 2rem;
  color: var(--secundario);
} 

#contenedorDivisas input, #contenedorDivisas select{
  margin-bottom: 1rem;
  height: 2rem;
}
#botonDivisas {
  padding: .6rem;
  background-color: var(--main);
  border-radius: 3px;
  color: var(--base);
  font-weight: 500;
  border: solid 1px var(--secundario);
  transition: .3s;
  
  margin: 2rem 40%;
}
#contenedorDivisas button:hover {
  padding: .7rem;
  color: var(--secundario);
  background-color: var(--base);
}


/* Sección principal - realizar inversiones  */

#seccionInervsiones {
  box-shadow: 0 0 .5rem 0;
  margin: 2rem 2rem;
  padding: 1rem 2.4rem;
  background-color: var(--main);
}
#seccionInervsiones h2 {
  color: var(--base);
  font-size: 1.6rem;
  font-weight: 600;
  text-transform: unset;
  width: 100%;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
}
.contenedorPadreInversiones {
  display: flex;
  flex-direction: row;
  gap: .8rem;
}

.contenedorInversiones {
  border: solid .5px var(--gris);
  border-radius: 5px;
  padding: 2rem;
  color: var(--secundario);
  background-color: var(--base);
}
.contenedorInversiones  h3 {
  font-weight: 500;
  font-size: 1.6rem;
  margin-bottom: 1rem;
}
.contenedorInversiones label {
  font-size: 1.4rem;
  font-weight: 500;
}
.contenedorInversiones input {
  height: 2rem;
}
#contenedorHistorialDepositos {
  margin: 2rem ;
  font-weight: 300;
}
.historialesAnuales {
  font-size: 1.3rem;
}
.displayNone {
  display: none;
}
#preguntaHistorial {
  margin-bottom: 1rem;
  font-size: 1.8rem;
}
#contenedorMostrarHistorialDepositos {
  font-size: 1.5rem;
  font-style: italic;
}
#contenedorHistorialDepositos button{
  margin-bottom: 1rem;
  padding: .5rem;
  font-family: var(--nanum);
  border-radius: 8px;
  border: solid .5px var(--oscuro);
  transition: .2s;
  background-color: var(--secundario);
  color: var(--base);
}
#contenedorHistorialDepositos button:hover {
  background-color: var(--base);
  color: var(--secundario);
  font-weight: 550;
}
.aceptarInversion {
  margin-top: 1.2rem;
  margin-bottom: .8rem;
  width: 8rem;
  padding: .5rem;
  font-family: var(--nanum);
  border-radius: 6px;
  border: solid 1px var(--secundario);
  transition: .2s;
  background-color: var(--secundario);
  color: var(--base);
  font-weight: 600;
}
.aceptarInversion:hover {
  font-size: 1.4rem;
  background-color: var(--gris);
  padding: .6rem;
}
.mostrarOcultarInversiones {
  margin-top: 1.2rem;
  margin-bottom: .3rem;
  padding: .3rem;
  font-family: var(--mons);
  border-radius: 3px;
  border: solid px var(--secundario);
  transition: .2s;
  background-color: var(--gris);
  color: var(--base);
  font-weight: 500;
}
.mostrarOcultarInversiones:hover {
  padding: .5rem;
}

/* MediaQueries */
@media (max-width: 300px) {
  h1{
    font-size: 2.5rem;
  }
  h2 {
    font-size: 2.2rem;
  }
  h3 {
    font-size: 2rem;
  }
  #descripcion {
    font-size: 1.3rem;
  }
  .tuSaldo {
    font-size: 1.6rem;
  }
  .mensaje {
    font-size: 1.3rem;
  }
  #contenedorHistorialDepositos p{
    font-size: 1.5rem;
  }
  #contenedorMostrarHistorialDepositos {
    font-size: 1.3rem;
  }
  #contenedorHistorialDepositos button {
    margin: 1rem auto .5rem auto;
  }
}
@media (min-width: 301px) {
  .historialesAnuales {
    font-size: 1.5rem;
  }
  #divisas {
    font-size:1.8rem;
  }
  .divisasLabel {
    font-size:1.4rem;
  }
  #seccionInervsiones h2 {
    font-size: 2.5rem;
  }
}
@media (max-width: 660px) {
  .contenedorPadreInversiones {
    flex-direction: column;

  }
}